

lottie-player{
    margin: 0 auto;
}
body {
    background: linear-gradient(45deg, rgb(240, 230, 93), rgb(165, 95, 235));
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 450px;
    height: 300px;
  }
h1{
    text-align: center;
}
h3{
    text-align: center;
    font-size: 40px
}
ul{
    display: table;
    margin: 0 auto;
    font-size: 30px;
}
table{
    margin: auto;
    font-size: 20px;
}